
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h2>Datos del Navegador</h2>
<ul>
    <li>@ViewBag.BrowserFamily</li>
    <li>@ViewBag.BrowserMajor</li>
</ul>

<h2>Datos del Sistema Operativo</h2>
<ul>
    <li>@ViewBag.OSFamily</li>
    <li>@ViewBag.OSMajor</li>
</ul>


<h2>Datos del Dispositivo</h2>
<ul>
    <li>@ViewBag.DeviceFamily</li>
    <li>@ViewBag.DeviceModel</li>
</ul>

<h2>IP de la maquina</h2>
<ul>
    <li>@ViewBag.IP</li>
</ul>

<h2>Usuario que inicio sesion en la Maquina</h2>
<ul>
    <li>@ViewBag.UserPC</li>
</ul>